#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.style{
  color: rgb(37, 33, 241);
  background-color: rgb(241, 241, 241);
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
}


.player{
  color: blueviolet;
  border: 5px solid rgb(247, 34, 158);
  border-radius: 20px;
  padding: 5px;
  margin: 5px;
  background-color: rgb(241, 241, 240);
}

.list{
  text-align: left;
}